body {
    h1 {
        text-align: center;
    }
    .btn {
        display: flex;
        padding-top: 2%;
        justify-content: center;
    }
}
.select__container {
    display: flex;
    justify-items: center;
    justify-content: center;
}
